.header-wrap{
  display: flex;
  flex: 1;
  margin-top: 10px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: 18px;
  font-weight: 600;
}
.actions{
  display: flex;
  flex-direction: row;
}