.message-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
    .message{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .message__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            .message__header__name{
                font-size: 14px;
                font-weight: 600;
                color: #000;
            }
            .message__header__time{
                font-size: 12px;
                color: #000;
            }
        }
        .message__content{
            font-size: 14px;
            color: #000;
        }
    }
    .message--me{
        align-self: flex-end;
        .message__header{
            .message__header__name{
                text-align: right;
            }
        }
    }
    .message--other{
        align-self: flex-start;
        .message__header{
            .message__header__name{
                text-align: left;
            }
        }
    }
}