.chat-warp{
  display: flex;
  height: 100%;
  width: 100%;
}

.header{
  :global{
    .ant-layout-header{
      padding-inline: 0px!important;
    }
  }
}

.add-new-chart{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  .button{
    border: 1px solid #d9d9e3;
    border-radius: 4px;
    color: #d9d9e3;
    width: 90%;
    box-sizing: border-box;
    gap: .5rem;
  }
}