.message{
  display: flex;
  flex-direction: row;
  --tw-text-opacity: 1;
  color: rgba(52,53,65,var(--tw-text-opacity));
  .logo{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    border-radius: 15%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    line-height: 1.5rem;
    img{
      height: 100%;
      border-radius: .125rem;
    }
  }
  .content-wrap{
    display: flex;
    flex: 10;
    flex-direction: column;
    .content{
      padding: 0 .1rem;
      max-width: 80vw;
      overflow-x: auto;
    }
    .action-wrap{
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
.me{
  padding: 1rem;
}
.other{
  padding: 1rem;
  --tw-bg-opacity: 1;
}

.mermaid-content{
  margin: 10px 0;
  padding: 10px;
  background: antiquewhite;
  overflow-x: auto;
}