button {
    background-color: #5899e2; /* Change to the desired color for the Send button */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 5px;
}

.send-button:hover {
    opacity: 0.8;
}

.send-button[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
}

.record-buttons {
    background-color: #e63946; /* Change to the desired color for the record and stop button */
}

.record-buttons:hover {
    background-color: gray;
    color: white;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.progress {
    height: 100%;
    background-color: #ffbd00;
    width: 0;
    transition: width 0.3s ease-in-out;
}